.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    height: 110px;
    margin-top: 1rem;
    border-top: 3px solid #111;
    color: #FFF;
}

.footer .principal{
    font-weight: 600;
    font-size: 20px;
}

.footer .developer {
    font-size: 11px;
    color: #e33d33;
    font-weight: 400;
    letter-spacing: .2rem;
}

