.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 110px;
    margin-top: 1rem;
    border-top: 3px solid #111;
    color: #FFF;
}

.footer span{
    font-weight: 600;
    font-size: 18px;
    margin-right: 8px;
}

