.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(8, 8, 8);
    height: 90px;
    margin-top: 1rem;
    border-top: 3px solid #005249;
    color: #FFF;
}

.footer .principal{
    font-weight: 600;
    font-size: 20px;
}

.footer .developer {
    font-size: 11px;
    color: #ffcc01;
    font-weight: 400;
    letter-spacing: .2rem;
}

sup {
    font-size: 10px;
}