<nav class="navbar">
    <div class="first_nav">
        <img src="assets/poketball.png" alt="logo">
        <h1>
            <span class="bg-color-font-1">Poke</span>
            <span class="bg-color-font-2">Page</span>
        </h1>
    </div>

    <ul class="link_itens">
        <li>
            <a routerLink='/'>Home</a>
        </li>
        <li>
            <a routerLink='about'>About</a>
        </li>
        <li>
            <a (click)="random()">Aleatório</a>
        </li>
    </ul>
</nav>
