.layout-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}

.layout-grid .box {
    margin-bottom: 0.2rem;
    border-radius: 8px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    background-color: #F6F6F6;
    border: 2px solid #677381;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    text-align: center;
    text-transform: capitalize;
}

.box .poke-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.3em auto;
    width: auto;
    width: 80px;
    height: 80px;
}

.box .button {
    margin: 1em auto;
    background-color: rgba(34, 34, 34, 0.9);
    color: #FFF;
    padding: 0.3em 2em;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    border-radius: 8px;
}

.box .button:hover {
    background-color: #222;
    color: #ffcc01;
}

pagination-controls {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .layout-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .layout-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .layout-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    pagination-controls {
        font-size: 12px;
    }
}