.about{
    text-align: center;
}

.about h1{
    font-size: 30px;
}

.about p {
    max-width: 750px;
    margin: 1rem auto;
    line-height: 1.8;
}

.about .title{
    margin: 1rem 0;
}

.about img{
    width: 300px;
}
