.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    margin-bottom: 0.8rem;
    background-color: #333;
    color: #FFF;
}

.first_nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_nav img{
    width: 35px;
    height: 35px;
}

.first_nav h1 {
    margin-left: 0.5rem;
}

.link_itens {
    display: flex;
    margin: 0 1rem;
    list-style: none;
}

.link_itens li{
    margin-left: 3rem;
}

.link_itens a {
    text-decoration: none;
    color: #FFF;
    padding: 5px;
    transition: all .4s ease-in;
    border-bottom: 1px solid transparent;
}

.link_itens a:hover {
    border-color: #ffcc01;
    color: #ffcc01;
}

@media screen and (max-width: 400px) {
    .first_nav img{
        width: 35px;
        height: 35px;
    }

    .link_itens li{
        margin-left: 0.5rem;
    }
}