<div class="main-container layout-grid">
    <div class="box" *ngFor="let pokemon of pokemons | paginate: {
            itemsPerPage: 10,
            currentPage: page,
            totalItems: totalPokemons
        }">
        <!-- <a routerLink='cards/{{ pokemon.id }}'>
            
        </a> -->

        <img class="poke-image" [src]="pokemon.sprites.front_default" alt="Pokemon">
            <h3> <span class="poke-title">{{ pokemon.name }}</span> </h3>

            <p>
                <b>Type: </b> <span class="types"> {{ pokemon.types[0].type.name }} </span>
            </p>

            <p>
                <b>Base Experience: </b> <span class="types"> {{ pokemon.base_experience }} </span>
            </p>

            <p>
                <b>Ability: </b> 
                <span class="types">
                    {{ pokemon.abilities[0].ability.name }}
                </span>
            </p>

            <p>
                <b>Height: </b> {{ pokemon.height }}
            </p>

            <p>
                <b>Health: </b> {{ pokemon.stats[0].base_stat }}
            </p>

            <p>
                <b>Atack Power: </b> {{ pokemon.stats[1].base_stat }}
            </p>
    </div>
</div>

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>