/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #e7e9ec;
}

.main-container {
    min-height: 70vh;
    margin: 0 3rem;
}

.bg-color-font-1{
    color: #ffcc01;
}

.bg-color-font-2{
    color: #2f67b1;
}

.bg-color-font-3 {
    color: #DE0622;
}

a {
    text-decoration: none;
}